*.cert filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
*.crt filter=git-crypt diff=git-crypt
*.gpg filter=git-crypt diff=git-crypt
*.tfvars filter=git-crypt diff=git-crypt
*secret* filter=git-crypt diff=git-crypt
namespaces/live-1.cloud-platform.service.justice.gov.uk/polygraph-offender-management/resources/poms-secrets !filter !diff
