apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  namespace: laa-court-data-adaptor-prod
  labels:
    prometheus: cloud-platform
    role: alert-rules
  name: prometheus-custom-rules-laa-court-data-adaptor
spec:
  groups:
  - name: application-rules
    rules:
    - alert: Instance-Down
      expr: absent(up{namespace="laa-court-data-adaptor-prod"}) == 1
      for: 1m
      labels:
        severity: laa-court-data-adaptor-alerts-prod
        namespace: laa-court-data-adaptor-prod
      annotations:
        message: The production instance of the Court Data adaptor has been down for >1m.
    - alert: Quota-Exceeded
      expr: 100 * kube_resourcequota{job="kube-state-metrics",type="used",namespace="laa-court-data-adaptor-prod"} / ignoring(instance, job, type) (kube_resourcequota{job="kube-state-metrics",type="hard",namespace="laa-court-data-adaptor-prod"} > 0) > 90
      for: 1m
      labels:
        severity: laa-court-data-adaptor-alerts-prod
        namespace: laa-court-data-adaptor-prod
      annotations:
        message: Namespace {{ $labels.namespace }} is using {{ printf "%0.0f" $value}}% of its {{ $labels.resource }} quota.
        runbook_url: https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md#alert-name-kubequotaexceeded
    - alert: Long-Request
      expr: ruby_http_request_duration_seconds{namespace="laa-court-data-adaptor-prod", controller=~"api/.+"} > 5
      for: 1m
      labels:
        severity: laa-court-data-adaptor-alerts-prod
        namespace: laa-court-data-adaptor-prod
      annotations:
        message: API request to {{ $labels.controller }} has taken more than 5 seconds.
    - alert: Internal requests failing
      expr: sum(rate(ruby_http_requests_total{status=~"424|5..", namespace="laa-court-data-adaptor-prod", controller=~"/api/internal/.+"}[10m])) * 600 > 10
      for: 1m
      labels:
        severity: laa-court-data-adaptor-alerts-prod
        namespace: laa-court-data-adaptor-prod
      annotations:
        message: Requests to CDA internal interface has seen 10+ HTTP 424 or 5xx status errors over the last 10 minutes. This could indicate an issue with Common Platform
    - alert: External requests failing
      expr: sum(rate(ruby_http_requests_total{status=~"424|5..", namespace="laa-court-data-adaptor-prod", controller=~"/api/external/.+"}[10m])) * 600 > 10
      for: 1m
      labels:
        severity: laa-court-data-adaptor-alerts-prod
        namespace: laa-court-data-adaptor-prod
      annotations:
        message: Requests to CDA external interface (used by Common Platform) has seen 10+ HTTP 424 or 5xx status errors over the last 10 minutes.
    - alert: SidekiqQueueSize-Threshold-Reached
      expr: ruby_sidekiq_queue_backlog{namespace="laa-court-data-adaptor-prod"} > 10
      for: 1m
      labels:
        severity: laa-court-data-adaptor-alerts-prod
        namespace: laa-court-data-adaptor-prod
      annotations:
        message: Sidekiq queue size is more than 10.
    - alert: SidekiqQueue-Latency
      expr: ruby_sidekiq_queue_latency_seconds{namespace="laa-court-data-adaptor-prod"} > 10
      for: 1m
      labels:
        severity: laa-court-data-adaptor-alerts-prod
        namespace: laa-court-data-adaptor-prod
      annotations:
        message: Sidekiq queue latency is over 10 seconds.
