apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  namespace: laa-crime-applications-adaptor-prod
  labels:
    role: alert-rules
  name: prometheus-custom-rules-laa-crime-applications-adaptor
spec:
  groups:
    - name: application-rules
      rules:
        - alert: Client Response Errors
          expr: sum(increase(http_server_requests_seconds_count{outcome="CLIENT_ERROR", namespace="laa-crime-applications-adaptor-prod"}[10m])) > 25
          for: 1m
          labels:
            severity: laa-crime-applications-adaptor
          annotations:
            message: There have been over 25 client error responses in the Crime Applications Adaptor running on production in the past 10 minutes. This may indicate a problem with clients calling the application - including intrusion attempts.
            runbook_url: https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md
            dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/Kn71716Gz1/laa-crime-applications-adaptor?var-namespace=laa-crime-applications-adaptor-prod
        - alert: Server Response Error
          expr: sum(increase(http_server_requests_seconds_count{outcome="SERVER_ERROR", namespace="laa-crime-applications-adaptor-prod"}[10m])) > 1
          for: 1m
          labels:
            severity: laa-crime-applications-adaptor
          annotations:
            message: There has been a server error response from the Crime Applications Adaptor running on production in the past 10 minutes. This may indicate a problem with the server processing client requests - likely a bug.
            runbook_url: https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md
            dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/Kn71716Gz1/laa-crime-applications-adaptor?var-namespace=laa-crime-applications-adaptor-prod
        - alert: JVM CPU Usage
          expr: (process_cpu_usage{namespace="laa-crime-applications-adaptor-prod"} * 100) > 95
          for: 1m
          labels:
            severity: laa-crime-applications-adaptor
          annotations:
            message: The crime-application-adaptor running on a production pod has been using over 95% of the CPU for a minute. This may indicate the pods running this application require more CPU resources.
            runbook_url: https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md
            dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/Kn71716Gz1/laa-crime-applications-adaptor?var-namespace=laa-crime-applications-adaptor-prod
        - alert: System CPU Usage
          expr: (system_cpu_usage{namespace="laa-crime-applications-adaptor-prod"} * 100) > 95
          for: 1m
          labels:
            severity: laa-crime-applications-adaptor
          annotations:
            message: A pod that runs the crime-application-adaptor on production has been using over 95% of the pod's CPU for a minute. This may indicate there is some underlying process other than our application on the pod that is using up all the CPU resources and warrants further investigation.
            runbook_url: https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md
            dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/Kn71716Gz1/laa-crime-applications-adaptor?var-namespace=laa-crime-applications-adaptor-prod
        - alert: Object Heap Memory Usage - Tenured Gen
          expr: ((jvm_memory_used_bytes{area="heap", id="Tenured Gen", namespace="laa-crime-applications-adaptor-prod"}/jvm_memory_max_bytes{area="heap", id="Tenured Gen", namespace="laa-crime-applications-adaptor-prod"})*100) > 95
          for: 1m
          labels:
            severity: laa-crime-applications-adaptor
          annotations:
            message: Over 95% of the "Tenured Gen" object heap memory on a production pod had been used. This may indicate our application needs more object heap memory or we have a memory resource leak in our application.
            runbook_url: https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md
            dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/Kn71716Gz1/laa-crime-applications-adaptor?var-namespace=laa-crime-applications-adaptor-prod
        - alert: Object Heap Memory Usage - Survivor Space
          expr: ((jvm_memory_used_bytes{area="heap", id="Survivor Space", namespace="laa-crime-applications-adaptor-prod"}/jvm_memory_max_bytes{area="heap", id="Survivor Space", namespace="laa-crime-applications-adaptor-prod"})*100) > 95
          for: 1m
          labels:
            severity: laa-crime-applications-adaptor
          annotations:
            message: Over 95% of the "Survivor Space" object heap memory on a production pod had been used. This may indicate our application needs more object heap memory or we have a memory resource leak in our application.
            runbook_url: https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md
            dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/Kn71716Gz1/laa-crime-applications-adaptor?var-namespace=laa-crime-applications-adaptor-prod
        - alert: Object Heap Memory Usage - Eden Space
          expr: ((jvm_memory_used_bytes{area="heap", id="Eden Space", namespace="laa-crime-applications-adaptor-prod"}/jvm_memory_max_bytes{area="heap", id="Eden Space", namespace="laa-crime-applications-adaptor-prod"})*100) > 95
          for: 1m
          labels:
            severity: laa-crime-applications-adaptor
          annotations:
            message: Over 95% of the "Eden Space" object heap memory on a production pod had been used. This may indicate our application needs more object heap memory or we have a memory resource leak in our application.
            runbook_url: https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md
            dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/Kn71716Gz1/laa-crime-applications-adaptor?var-namespace=laa-crime-applications-adaptor-prod
        - alert: Response Time Excessive
          expr: (sum(http_server_requests_seconds_sum{outcome="SUCCESS", namespace="laa-crime-applications-adaptor-prod"})/sum(http_server_requests_seconds_count{outcome="SUCCESS", namespace="laa-crime-applications-adaptor-prod"})) > 5
          for: 1m
          labels:
            severity: laa-crime-applications-adaptor
          annotations:
            message: The response time for successful responses on production is taking on average over five seconds. This indicates responses to our clients is taking too long.
            runbook_url: https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md
            dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/Kn71716Gz1/laa-crime-applications-adaptor?var-namespace=laa-crime-applications-adaptor-prod
        - alert: Logging Error
          expr: sum(increase(logback_events_total{level="error", namespace="$namespace"}[10m])) > 1
          for: 1m
          labels:
            severity: laa-crime-applications-adaptor
          annotations:
            message: There had been an error in the logs of the Crime Application Adapter in the past 10 minutes. This indicates that there may be a bug with the application.
            runbook_url: https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md
            dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/Kn71716Gz1/laa-crime-applications-adaptor?var-namespace=laa-crime-applications-adaptor-prod