{
#set( $newline = "
")
"DeliveryStreamName": "$context.identity.apiKey.split("-")[0]",
#set( $Q = '"' ) 
    
    
"Records": [
   #foreach($elem in $input.path('$'))
      {
        #if( $elem.altitude && $!elem.altitude != '' ) #set( $d_altitude = $elem.altitude)  #else #set( $d_altitude = "null") #end  
        #if( $elem.bearing && $!elem.bearing != '' ) #set( $d_bearing = $elem.bearing)  #else #set( $d_bearing = "null") #end  
        #if( $elem.precision_hdop && $!elem.precision_hdop != '' ) #set( $d_precision_hdop = $elem.precision_hdop)  #else #set( $d_precision_hdop = "null")  #end  
        #if( $elem.precision_vdop && $!elem.precision_vdop != '' ) #set( $d_precision_vdop = $elem.precision_vdop)  #else #set( $d_precision_vdop = "null")  #end  

         #set($item = "{${Q}tracking_id${Q}: ${Q}$elem.tracking_id${Q}, ${Q}journey_id${Q}: ${Q}$elem.journey_id${Q}, ${Q}tracking_timestamp${Q}: ${Q}$elem.tracking_timestamp${Q}, ${Q}vehicle_registration${Q}: ${Q}$elem.tracking${Q}, ${Q}vehicle_vin${Q}: ${Q}$elem.vin${Q}, ${Q}latitude${Q}: $elem.latitude, ${Q}longitude${Q}: $elem.longitude, ${Q}precision_hdop${Q}: $d_precision_hdop, ${Q}precision_vdop${Q}: $d_precision_vdop, ${Q}speed${Q}: $elem.speed, ${Q}altitude${Q}: $d_altitude, ${Q}bearing${Q}: $d_bearing")

        #set($record = "$item$newline")
        "Data": "$util.base64Encode($record)"
      }#if($foreach.hasNext),#end
    #end
]
}

