apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  namespace: laa-data-claims-api-staging
  labels:
    prometheus: cloud-platform
    role: alert-rules
  name: prometheus-custom-rules-laa-data-claims-api-staging
spec:
  groups:
  - name: application-rules
    interval: 60s
    rules:
    - alert: NamespaceDown
      expr: absent(up{namespace="laa-data-claims-api-staging"}) == 1
      for: 1m
      labels:
        severity: laa-data-claims-api-staging
      annotations:
        message: Namespace {{ $labels.namespace }} is down.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-pi-staging-a-claims-api/0db5b9a?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=stg&var-helmInstallClaimUI=stg

    - alert: KubeLowPodCount
      expr: sum (kube_pod_status_phase{namespace="laa-data-claims-api-staging", phase="Running"}) < 1
      labels:
        severity: laa-data-claims-api-staging
      annotations:
        message: Namespace laa-data-claims-api-staging has fewer than expected number of running pods.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-pi-staging-a-claims-api/0db5b9a?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=stg&var-helmInstallClaimUI=stg

    - alert: KubeQuotaExceeded
      expr: 100 * kube_resourcequota{job="kube-state-metrics",type="used",namespace="laa-data-claims-api-staging"} / ignoring(instance, job, type) (kube_resourcequota{job="kube-state-metrics",type="hard",namespace="laa-data-claims-api-staging"} > 0) > 90
      for: 1m
      labels:
        severity: laa-data-claims-api-staging

    - alert: 400ThresholdReached
      expr: |-
        sum(increase(http_server_requests_seconds_count{namespace="laa-data-claims-api-staging",status="400"}[5m])) > 50
      for: 1m
      labels:
        severity: laa-data-claims-api-staging
      annotations:
        message: More than 50 400 (Bad Request) errors in the last 5 minutes in namespace {{ $labels.namespace }}.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-pi-staging-a-claims-api/0db5b9a?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=stg&var-helmInstallClaimUI=stg

    - alert: 401ThresholdReached
      expr: |-
        sum(increase(http_server_requests_seconds_count{namespace="laa-data-claims-api-staging",status="401"}[5m])) > 50
      for: 1m
      labels:
        severity: laa-data-claims-api-staging
      annotations:
        message: More than 50 401 (Unauthorized) errors in the last 5 minutes in namespace {{ $labels.namespace }}.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-pi-staging-a-claims-api/0db5b9a?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=stg&var-helmInstallClaimUI=stg

    - alert: 403ThresholdReached
      expr: |-
        sum(increase(http_server_requests_seconds_count{namespace="laa-data-claims-api-staging",status="403"}[5m])) > 50
      for: 1m
      labels:
        severity: laa-data-claims-api-staging
      annotations:
        message: More than 50 403 (Forbidden) errors in the last 5 minutes in namespace {{ $labels.namespace }}.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-pi-staging-a-claims-api/0db5b9a?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=stg&var-helmInstallClaimUI=stg

    - alert: 404ThresholdReached
      expr: |-
        sum(increase(http_server_requests_seconds_count{namespace="laa-data-claims-api-staging",status="404"}[5m])) > 50
      for: 1m
      labels:
        severity: laa-data-claims-api-staging
      annotations:
        message: More than 50 404 (Not Found) errors in the last 5 minutes in namespace {{ $labels.namespace }}.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-pi-staging-a-claims-api/0db5b9a?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=stg&var-helmInstallClaimUI=stg

    - alert: 429ThresholdReached
      expr: |-
        sum(increase(http_server_requests_seconds_count{namespace="laa-data-claims-api-staging",status="429"}[5m])) > 50
      for: 1m
      labels:
        severity: laa-data-claims-api-staging
      annotations:
        message: More than 50 429 (Too Many Requests) errors in the last 5 minutes in namespace {{ $labels.namespace }}.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-pi-staging-a-claims-api/0db5b9a?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=stg&var-helmInstallClaimUI=stg

    - alert: 500ThresholdReached
      expr: |-
        sum(increase(http_server_requests_seconds_count{namespace="laa-data-claims-api-staging",status="500"}[5m])) > 50
      for: 1m
      labels:
        severity: laa-data-claims-api-staging
      annotations:
        message: More than 50 500 (Internal Server Error) errors in the last 5 minutes in namespace {{ $labels.namespace }}.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-pi-staging-a-claims-api/0db5b9a?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=stg&var-helmInstallClaimUI=stg
