apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  namespace: laa-apply-for-legalaid-uat
  labels:
    prometheus: cloud-platform
    role: alert-rules
  name: prometheus-custom-rules-laa-apply-for-legal-aid
spec:
  groups:
  - name: application-rules
    rules:
    - alert: Instance-Down
      expr: absent(up{namespace="laa-apply-for-legalaid-uat"}) == 1
      for: 1m
      labels:
        severity: apply-for-legal-aid-uat
    - alert: Quota-Exceeded
      expr: 100 * kube_resourcequota{job="kube-state-metrics",type="used",namespace="laa-apply-for-legalaid-uat"} / ignoring(instance, job, type) (kube_resourcequota{job="kube-state-metrics",type="hard",namespace="laa-apply-for-legalaid-uat"} > 0) > 90
      for: 1m
      labels:
        severity: apply-for-legal-aid-uat
      annotations:
        message: Namespace {{ $labels.namespace }} is using {{ printf "%0.0f" $value}}% of its {{ $labels.resource }} quota.
        runbook_url: https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md#alert-name-kubequotaexceeded
    - alert: NotFound-Threshold-Reached
      expr: sum(rate(ruby_http_requests_total{status="404", namespace="laa-apply-for-legalaid-uat"}[86400s])) * 86400 > 100
      for: 1m
      labels:
        severity: apply-for-legal-aid-uat
      annotations:
        message: More than one hundred 404 errors in one day
        runbook_url: https://kibana.cloud-platform.service.justice.gov.uk/_plugin/kibana/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(_source),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:ec9109a0-2b35-11e9-ac82-95e56bd45b02,key:kubernetes.namespace_name,negate:!f,params:(query:laa-apply-for-legalaid-uat,type:phrase),type:phrase,value:laa-apply-for-legalaid-uat),query:(match:(kubernetes.namespace_name:(query:laa-apply-for-legalaid-uat,type:phrase))))),index:ec9109a0-2b35-11e9-ac82-95e56bd45b02,interval:auto,query:(language:lucene,query:'log:%22RoutingError%22'),sort:!('@timestamp',desc))
    - alert: nginx-5xx-error
      expr: sum(rate(nginx_ingress_controller_requests{exported_namespace="laa-apply-for-legalaid-uat", status=~"5.."}[5m]))*270 > 0
      for: 1m
      labels:
        severity: apply-for-legal-aid-uat
      annotations:
        message: An HTTP 5xx error has occurred
        runbook_url: https://kibana.cloud-platform.service.justice.gov.uk/_plugin/kibana/app/discover#/?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-24h,to:now))&_a=(columns:!(log_processed.status,log_processed.http_referer,log_processed.request_uri),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'8a728bc0-00eb-11ec-9062-27aa363b66a2',key:log_processed.kubernetes_namespace,negate:!f,params:(query:laa-apply-for-legalaid-uat),type:phrase),query:(match_phrase:(log_processed.kubernetes_namespace:laa-apply-for-legalaid-uat))),('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'8a728bc0-00eb-11ec-9062-27aa363b66a2',key:log_processed.status,negate:!f,params:(gte:500,lt:599),type:range),range:(log_processed.status:(gte:500,lt:599)))),index:'8a728bc0-00eb-11ec-9062-27aa363b66a2',interval:auto,query:(language:lucene,query:''),sort:!(!('@timestamp',desc)))
    - alert: SidekiqQueueSize-Threshold-Reached
      expr: sum(ruby_sidekiq_queue_size{namespace="laa-apply-for-legalaid-uat"}) > 10
      for: 1m
      labels:
        severity: apply-for-legal-aid-uat
      annotations:
        message: Sidekiq queue size is more than 10
    - alert: SidekiqQueue-absent
      expr: absent(ruby_sidekiq_queue_size{namespace="laa-apply-for-legalaid-uat"})
      for: 1m
      labels:
        severity: apply-for-legal-aid-uat
      annotations:
        message: Sidekiq queue size is not reported, cronjob may not be submitting metrics
    - alert: DiskSpace-Threshold-Reached
      expr: container_fs_usage_bytes{namespace="laa-apply-for-legalaid-uat"} / 1024 / 1024 > 150
      for: 1m
      labels:
        severity: apply-for-legal-aid-uat
      annotations:
        message: Container disk space usage is more than 150Mb
    - alert: DiskSpace-Threshold-NotReported
      expr: absent(container_fs_usage_bytes{namespace="laa-apply-for-legalaid-uat"})
      for: 3m
      labels:
        severity: apply-for-legal-aid-uat
      annotations:
        message: Container disk space usage is not reported
    - alert: Long-Request
      expr: ruby_http_duration_seconds{namespace="laa-apply-for-legalaid-uat", controller!~"providers/application_merits_task/statement_of_cases|v1/statement_of_cases|providers/means_summaries|providers/uploaded_evidence_collections|v1/uploaded_evidence_collections"} > 2
      for: 1m
      labels:
        severity: apply-for-legal-aid-uat
      annotations:
        message: Request is taking more than 2 seconds
    - alert: "Long-Request: file_uploads"
      expr: ruby_http_duration_seconds{namespace="laa-apply-for-legalaid-uat", controller="providers/application_merits_task/statement_of_cases|v1/statement_of_cases|providers/uploaded_evidence_collections|v1/uploaded_evidence_collections"} > 10
      for: 1m
      labels:
        severity: apply-for-legal-aid-uat
      annotations:
        message: File upload request is taking more than 10 seconds    
    - alert: "Long-Request: means_summaries"
      expr: ruby_http_duration_seconds{namespace="laa-apply-for-legalaid-uat", controller="providers/means_summaries"} > 5
      for: 1m
      labels:
        severity: apply-for-legal-aid-uat
      annotations:
        message: Means summary generation is taking more than 5 seconds
    - alert: Address lookup service
      expr: sum(rate(ruby_http_requests_total{status=~"4..|5..", namespace="laa-apply-for-legalaid-uat", controller="providers/address_selections"}[30m])) * 1800 > 1
      for: 1m
      labels:
        severity: apply-for-legal-aid-uat
      annotations:
        message: Address lookup service request has multiple consecutive HTTP 4xx or 5xx status errors over the last 30 minutes
    - alert: Benefit Checker
      expr: sum(rate(ruby_http_requests_total{status=~"4..|5..", namespace="laa-apply-for-legalaid-uat", controller="providers/check_benefits"}[30m])) * 1800 > 1
      for: 1m
      labels:
        severity: apply-for-legal-aid-uat
      annotations:
        message: Benefit Checker request has multiple consecutive HTTP 4xx or 5xx status errors over the last 30 minutes
    - alert: Provider Details API
      expr: sum(rate(ruby_http_requests_total{status=~"4..|5..", namespace="laa-apply-for-legalaid-uat", controller="providers/saml/sign_in"}[30m])) * 1800 > 1
      for: 1m
      labels:
        severity: apply-for-legal-aid-uat
      annotations:
        message: Provider Details API request has multiple consecutive HTTP 4xx or 5xx status errors over the last 30 minutes
    - alert: CCMS Submission
      expr: sum(rate(ruby_http_requests_total{status=~"4..|5..", namespace="laa-apply-for-legalaid-uat", controller="check_merits_answers/continue"}[30m])) * 1800 > 1
      for: 1m
      labels:
        severity: apply-for-legal-aid-uat
      annotations:
        message: CCMS Submission request has multiple consecutive HTTP 4xx or 5xx status errors over the last 30 minutes
    - alert: 429(too many requests) alert
      expr: sum(rate(ruby_http_requests_total{status="429", namespace="laa-apply-for-legalaid-uat"}[300s])) * 300 > 5
      labels:
        severity: apply-for-legal-aid-uat
      annotations:
        message: There have been more than 5 rate-limited calls to the feedback page in the last 5 minutes
        runbook_url: https://kibana.cloud-platform.service.justice.gov.uk/_plugin/kibana/app/kibana#/discover?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-24h,to:now))&_a=(columns:!(log_processed.status,log_processed.http_referer,log_processed.request_uri),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:fb2e6550-0186-11ec-a2cf-6b21ca2b1d39,key:log_processed.kubernetes_namespace,negate:!f,params:(query:laa-apply-for-legalaid-uat),type:phrase,value:laa-apply-for-legalaid-uat),query:(match:(log_processed.kubernetes_namespace:(query:laa-apply-for-legalaid-uat,type:phrase)))),('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'8a728bc0-00eb-11ec-9062-27aa363b66a2',key:log_processed.status,negate:!f,params:(query:'429'),type:phrase,value:'429'),query:(match:(log_processed.status:(query:'429',type:phrase))))),index:'8a728bc0-00eb-11ec-9062-27aa363b66a2',interval:auto,query:(language:lucene,query:''),sort:!(!('@timestamp',desc)))
    - alert: 403(forbidden) alert
      expr: sum(rate(ruby_http_requests_total{status="429", namespace="laa-apply-for-legalaid-uat"}[300s])) * 300 > 5
      labels:
        severity: apply-for-legal-aid-uat
      annotations:
        message: There have been more than 5 blocked(forbidden) calls to the feedback page in the last 5 minutes
        runbook_url: https://kibana.cloud-platform.service.justice.gov.uk/_plugin/kibana/app/kibana#/discover?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-24h,to:now))&_a=(columns:!(log_processed.status,log_processed.http_referer,log_processed.request_uri),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:fb2e6550-0186-11ec-a2cf-6b21ca2b1d39,key:log_processed.kubernetes_namespace,negate:!f,params:(query:laa-apply-for-legalaid-uat),type:phrase,value:laa-apply-for-legalaid-uat),query:(match:(log_processed.kubernetes_namespace:(query:laa-apply-for-legalaid-uat,type:phrase)))),('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'8a728bc0-00eb-11ec-9062-27aa363b66a2',key:log_processed.status,negate:!f,params:(query:'403'),type:phrase,value:'403'),query:(match:(log_processed.status:(query:'403',type:phrase))))),index:'8a728bc0-00eb-11ec-9062-27aa363b66a2',interval:auto,query:(language:lucene,query:''),sort:!(!('@timestamp',desc)))
