apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  namespace: laa-data-claims-api-prod
  labels:
    prometheus: cloud-platform
    role: alert-rules
  name: prometheus-custom-rules-laa-data-claims-api-prod
spec:
  groups:
  - name: application-rules
    rules:
    - alert: NamespaceDown
      expr: absent(up{namespace="laa-data-claims-api-prod"}) == 1
      for: 1m
      labels:
        severity: laa-data-claims-api-prod
      annotations:
        message: Namespace laa-data-claims-api-prod is down.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-s-api-prod-a-claims-api/a080904?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=prod&var-helmInstallClaimUI=prod

    - alert: KubeLowPodCount
      expr: sum (kube_pod_status_phase{namespace="laa-data-claims-api-prod", phase="Running"}) < 1
      labels:
        severity: laa-data-claims-api-prod
      annotations:
        message: Namespace laa-data-claims-api-prod has fewer than expected number of running pods.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-s-api-prod-a-claims-api/a080904?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=prod&var-helmInstallClaimUI=prod

    - alert: KubeQuotaExceeded
      expr: 100 * kube_resourcequota{job="kube-state-metrics",type="used",namespace="laa-data-claims-api-prod"} / ignoring(instance, job, type) (kube_resourcequota{job="kube-state-metrics",type="hard",namespace="laa-data-claims-api-prod"} > 0) > 90
      for: 1m
      labels:
        severity: laa-data-claims-api-prod

    - alert: 400ThresholdReached
      expr: |-
        sum(increase(http_server_requests_seconds_count{namespace="laa-data-claims-api-prod",status="400"}[5m])) > 50
      for: 1m
      labels:
        severity: laa-data-claims-api-prod
      annotations:
        message: More than 50 400 (Bad Request) errors in the last 5 minutes in namespace laa-data-claims-api-prod.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-s-api-prod-a-claims-api/a080904?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=prod&var-helmInstallClaimUI=prod

    - alert: 401ThresholdReached
      expr: |-
        sum(increase(http_server_requests_seconds_count{namespace="laa-data-claims-api-prod",status="401"}[5m])) > 50
      for: 1m
      labels:
        severity: laa-data-claims-api-prod
      annotations:
        message: More than 50 401 (Unauthorized) errors in the last 5 minutes in namespace laa-data-claims-api-prod.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-s-api-prod-a-claims-api/a080904?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=prod&var-helmInstallClaimUI=prod

    - alert: 403ThresholdReached
      expr: |-
        sum(increase(http_server_requests_seconds_count{namespace="laa-data-claims-api-prod",status="403"}[5m])) > 50
      for: 1m
      labels:
        severity: laa-data-claims-api-prod
      annotations:
        message: More than 50 403 (Forbidden) errors in the last 5 minutes in namespace laa-data-claims-api-prod.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-s-api-prod-a-claims-api/a080904?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=prod&var-helmInstallClaimUI=prod

    - alert: 404ThresholdReached
      expr: |-
        sum(increase(http_server_requests_seconds_count{namespace="laa-data-claims-api-prod",status="404"}[5m])) > 50
      for: 1m
      labels:
        severity: laa-data-claims-api-prod
      annotations:
        message: More than 50 404 (Not Found) errors in the last 5 minutes in namespace laa-data-claims-api-prod.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-s-api-prod-a-claims-api/a080904?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=prod&var-helmInstallClaimUI=prod

    - alert: 429ThresholdReached
      expr: |-
        sum(increase(http_server_requests_seconds_count{namespace="laa-data-claims-api-prod",status="429"}[5m])) > 50
      for: 1m
      labels:
        severity: laa-data-claims-api-prod
      annotations:
        message: More than 50 429 (Too Many Requests) errors in the last 5 minutes in namespace laa-data-claims-api-prod.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-s-api-prod-a-claims-api/a080904?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=prod&var-helmInstallClaimUI=prod

    - alert: 500ThresholdReached
      expr: |-
        sum(increase(http_server_requests_seconds_count{namespace="laa-data-claims-api-prod",status="500"}[5m])) > 50
      for: 1m
      labels:
        severity: laa-data-claims-api-prod
      annotations:
        message: More than 50 500 (Internal Server Error) errors in the last 5 minutes in namespace laa-data-claims-api-prod.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-s-api-prod-a-claims-api/a080904?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=prod&var-helmInstallClaimUI=prod

    - alert: RDSLowStorage
      expr: aws_rds_free_storage_space_average{dbinstance_identifier="cloud-platform-f16b66bfcc6a6515"} offset 10m < 200000000000
      for: 5m
      labels:
        severity: laa-data-claims-api-prod
      annotations:
        message: RDS free storage space is less than 200GB in namespace laa-data-claims-api-prod.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-s-api-prod-a-claims-api/a080904?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=prod&var-helmInstallClaimUI=prod

    - alert: RDSHighCPU
      expr: aws_rds_cpuutilization_average{dbinstance_identifier="cloud-platform-f16b66bfcc6a6515"} offset 10m > 75
      for: 5m
      labels:
        severity: laa-data-claims-api-prod
      annotations:
        message: RDS CPU utilization is above 75% in namespace laa-data-claims-api-prod.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-s-api-prod-a-claims-api/a080904?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=prod&var-helmInstallClaimUI=prod

    - alert: RDSLowMemory
      expr: aws_rds_freeable_memory_average{dbinstance_identifier="cloud-platform-f16b66bfcc6a6515"} offset 10m < 1717986918
      for: 5m
      labels:
        severity: laa-data-claims-api-prod
      annotations:
        message: RDS freeable memory is less than 1.6GB (20%) in namespace laa-data-claims-api-prod.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-s-api-prod-a-claims-api/a080904?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=prod&var-helmInstallClaimUI=prod

    - alert: RDSHighConnections
      expr: aws_rds_database_connections_average{dbinstance_identifier="cloud-platform-f16b66bfcc6a6515"} offset 10m > 560
      for: 5m
      labels:
        severity: laa-data-claims-api-prod
      annotations:
        message: RDS database connections are above 560 in namespace laa-data-claims-api-prod.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-s-api-prod-a-claims-api/a080904?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=prod&var-helmInstallClaimUI=prod

    - alert: RDSHighReadLatency
      expr: aws_rds_read_latency_average{dbinstance_identifier="cloud-platform-f16b66bfcc6a6515"} offset 10m > 0.1
      for: 5m
      labels:
        severity: laa-data-claims-api-prod
      annotations:
        message: RDS read latency is above 100ms in namespace laa-data-claims-api-prod.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-s-api-prod-a-claims-api/a080904?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=prod&var-helmInstallClaimUI=prod

    - alert: RDSHighWriteLatency
      expr: aws_rds_write_latency_average{dbinstance_identifier="cloud-platform-f16b66bfcc6a6515"} offset 10m > 0.1
      for: 5m
      labels:
        severity: laa-data-claims-api-prod
      annotations:
        message: RDS write latency is above 100ms in namespace laa-data-claims-api-prod.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-s-api-prod-a-claims-api/a080904?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=prod&var-helmInstallClaimUI=prod

    - alert: RDSHighReadIOPS
      expr: aws_rds_read_iops_average{dbinstance_identifier="cloud-platform-f16b66bfcc6a6515"} offset 10m > 2400
      for: 5m
      labels:
        severity: laa-data-claims-api-prod
      annotations:
        message: RDS read IOPS is above 2400 in namespace laa-data-claims-api-prod.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-s-api-prod-a-claims-api/a080904?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=prod&var-helmInstallClaimUI=prod

    - alert: RDSHighWriteIOPS
      expr: aws_rds_write_iops_average{dbinstance_identifier="cloud-platform-f16b66bfcc6a6515"} offset 10m > 2400
      for: 5m
      labels:
        severity: laa-data-claims-api-prod
      annotations:
        message: RDS write IOPS is above 2400 in namespace laa-data-claims-api-prod.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/WHCZA/pages/5829263558/Runbook+Data+Claims
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/laa-d-perf-s-api-prod-a-claims-api/a080904?orgId=1&from=now-15m&to=now&timezone=browser&var-helmInstall=laa&var-helmInstallClaimEventService=prod&var-helmInstallClaimUI=prod
