apiVersion: v1
kind: ServiceAccount
metadata:
  name: concourse-build-environments
  namespace: kube-system
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: concourse-build-environments
subjects:
- kind: ServiceAccount
  name: concourse-build-environments
  namespace: kube-system
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
