# Prometheus Alerts
#
# https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html
#
# Note: we are using a regex in the namespace to filter and trigger alerts
# in both, staging and production environments.
#
# To see the current alerts in this namespace:
#   kubectl describe prometheusrule -n laa-review-criminal-legal-aid-staging
#
# Alerts will be sent to the slack channel: #laa-crime-apply-alerts
#
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: prometheus-rules-sidekiq
  namespace: laa-review-criminal-legal-aid-staging
  labels:
    role: alert-rules
    prometheus: cloud-platform
spec:
  groups:
  - name: sidekiq-rules
    rules:
    - alert: CrimeReview-Staging-Sidekiq-DeadJobsDetected
      expr: max(ruby_sidekiq_stats_dead_size{namespace="laa-review-criminal-legal-aid-staging"}) > 0
      for: 5m
      labels:
        severity: laa-crime-apply-alerts
      annotations:
        message: Crime Review staging - {{ $value }} jobs detected in the Sidekiq dead set.
        dashboard_url: https://staging.review-criminal-legal-aid.service.justice.gov.uk/sidekiq/

    - alert: CrimeReview-Staging-Sidekiq-DeadJobsIncreased
      expr: max(delta(ruby_sidekiq_stats_dead_size{namespace="laa-review-criminal-legal-aid-staging"}[10m])) > 0
      labels:
        severity: laa-crime-apply-alerts
      annotations:
        message: Crime Review staging - size of the Sidekiq dead set increased in the last 10m.
        dashboard_url: https://staging.review-criminal-legal-aid.service.justice.gov.uk/sidekiq/

    - alert: CrimeReview-Staging-Sidekiq-HighRetries
      expr: max(ruby_sidekiq_stats_retry_size{namespace="laa-review-criminal-legal-aid-staging"}) > 50
      for: 10m
      labels:
        severity: laa-crime-apply-alerts
      annotations:
        message: Crime Review staging - size of the Sidekiq retry has been more than 50 for at least 10m.
        dashboard_url: https://staging.review-criminal-legal-aid.service.justice.gov.uk/sidekiq/

    - alert: CrimeReview-Staging-Sidekiq-HighQueueBacklog
      expr: max by (queue) (ruby_sidekiq_queue_backlog{namespace="laa-review-criminal-legal-aid-staging"}) > 50
      for: 5m
      labels:
        severity: laa-crime-apply-alerts
      annotations:
        message: Crime Review staging - Sidekiq queue {{ $labels.queue }} has had a backlog of {{ $value }} jobs for 5 min.
        dashboard_url: https://staging.review-criminal-legal-aid.service.justice.gov.uk/sidekiq/
