apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: default
    nginx.ingress.kubernetes.io/custom-http-errors: "418"
    nginx.ingress.kubernetes.io/rewrite-target: https://licences.prison.service.justice.gov.uk/$1
    external-dns.alpha.kubernetes.io/set-identifier: licences-redirect-old-url-licences-prod-green
    external-dns.alpha.kubernetes.io/aws-weight: "100"
  labels:
    app: licences
  name: licences-redirect-old-url
  namespace: licences-prod
spec:
  rules:
  - host: licences.service.hmpps.dsd.io
    http:
      paths:
      - backend:
          service:
            name: licences
            port: 
              name: http
        path: /(.*)
        pathType: ImplementationSpecific
  tls:
  - hosts:
    - licences.service.hmpps.dsd.io
    secretName: licences-cert-dsd
