apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  namespace: soc-production
  labels:
    role: alert-rules
  name: prometheus-custom-rules-soc-reporting
spec:
  groups:
  - name: soc-reporting-alerts
    rules:
    - alert: PodCrashLooping
      expr: kube_pod_container_status_restarts_total{namespace="soc-production", pod=~"socreporting-dotnet6app.*"} > 3
      for: 30m
      labels:
        severity: soc-production
      annotations:
        message: "Pod {{ $labels.pod }} is restarting frequently in SOCReporting."
        runbook_url: https://github.com/ministryofjustice/SOCReporting
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/C0539022-DD81-4FA9-B92B-703ECDA0065C/soc-production?from=now-1h&to=now&timezone=browser&var-datasource=prometheus

    - alert: HighCpuUsage
      expr: (rate(container_cpu_usage_seconds_total{namespace="soc-production", pod=~"socreporting-dotnet6app.*"}[5m]) * 100) > 80
      for: 5m
      labels:
        severity: soc-production
      annotations:
        message: "High CPU usage detected in SOCReporting."
        runbook_url: https://github.com/ministryofjustice/SOCReporting
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/C0539022-DD81-4FA9-B92B-703ECDA0065C/soc-production?from=now-1h&to=now&timezone=browser&var-datasource=prometheus

    - alert: High5xxErrors
      expr: sum by (code) (rate(http_requests_received_total{pod=~"socreporting-dotnet6app.*", code=~"5.."}[5m])) > 1
      for: 5m
      labels:
        severity: soc-production
      annotations:
        message: "High number of 5xx errors detected in SOCReporting."
        runbook_url: https://github.com/ministryofjustice/SOCReporting
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/C0539022-DD81-4FA9-B92B-703ECDA0065C/soc-production?from=now-1h&to=now&timezone=browser&var-datasource=prometheus

    - alert: HighResponseLatency
      expr: |
        (
          histogram_quantile(
            0.95, 
            sum by (le) (
              rate(http_request_duration_seconds_bucket{pod=~"socreporting-dotnet6app.*"}[5m])
            ) 
          )> 4
        )
        and 
        (
          sum(rate(http_request_duration_seconds_count{pod=~"socreporting-dotnet6app.*"}[5m])) > 0.2
        )
      for: 5m
      labels:
        severity: soc-production
      annotations:
        message: "High response latency detected in SOCReporting."
        runbook_url: https://github.com/ministryofjustice/SOCReporting
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/C0539022-DD81-4FA9-B92B-703ECDA0065C/soc-production?from=now-1h&to=now&timezone=browser&var-datasource=prometheus

---

apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  namespace: soc-production
  labels:
    role: alert-rules
  name: prometheus-custom-rules-soc-entry
spec:
  groups:
  - name: soc-entry-alerts
    rules:
    - alert: PodCrashLooping
      expr: kube_pod_container_status_restarts_total{namespace="soc-production", pod=~"socentry-dotnet6app.*"} > 3
      for: 30m
      labels:
        severity: soc-production
      annotations:
        message: "Pod {{ $labels.pod }} is restarting frequently in SOCEntry."
        runbook_url: https://github.com/ministryofjustice/SOCEntry
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/C0539022-DD81-4FA9-B92B-703ECDA0065C/soc-production?from=now-1h&to=now&timezone=browser&var-datasource=prometheus

    - alert: HighCpuUsage
      expr: (rate(container_cpu_usage_seconds_total{namespace="soc-production", pod=~"socentry-dotnet6app.*"}[5m]) * 100) > 80
      for: 5m
      labels:
        severity: soc-production
      annotations:
        message: "High CPU usage detected in SOCEntry."
        runbook_url: https://github.com/ministryofjustice/SOCEntry
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/C0539022-DD81-4FA9-B92B-703ECDA0065C/soc-production?from=now-1h&to=now&timezone=browser&var-datasource=prometheus

    - alert: High5xxErrors
      expr: sum by (code) (rate(http_requests_received_total{pod=~"socentry-dotnet6app.*", code=~"5.."}[5m])) > 1
      for: 5m
      labels:
        severity: soc-production
      annotations:
        message: "High number of 5xx errors detected in SOCEntry."
        runbook_url: https://github.com/ministryofjustice/SOCEntry
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/C0539022-DD81-4FA9-B92B-703ECDA0065C/soc-production?from=now-1h&to=now&timezone=browser&var-datasource=prometheus

    - alert: HighResponseLatency
      expr: |
        (
          histogram_quantile(
            0.95, 
            sum by (le) (
              rate(http_request_duration_seconds_bucket{pod=~"socentry-dotnet6app.*"}[5m])
            ) 
          )> 4
        )
        and 
        (
          sum(rate(http_request_duration_seconds_count{pod=~"socentry-dotnet6app.*"}[5m])) > 0.2
        )
      for: 5m
      labels:
        severity: soc-production
      annotations:
        message: "High response latency detected in SOCEntry (service-wide p95 > 4s)."
        runbook_url: https://github.com/ministryofjustice/SOCEntry
        dashboard_url: https://grafana.live.cloud-platform.service.justice.gov.uk/d/C0539022-DD81-4FA9-B92B-703ECDA0065C/soc-production?from=now-1h&to=now&timezone=browser&var-datasource=prometheus
