apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    app: offender-events-dev
    prometheus: cloud-platform
  name: dps-prometheus-rules-sqs
  namespace: offender-events-dev
spec:
  groups:
  - name: DPS-SQS-SNS-dev
    rules:
    - alert: DEV-SQS-probation-events-dlq-not-empty
      annotations:
        message: DEV SQS - {{ $labels.queue_name }} has message(s) older than 15m
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/NOM/pages/1739325587/DPS+Runbook
      expr: |-
        sum(aws_sqs_approximate_number_of_messages_visible_maximum{queue_name=~"Digital-Prison-Services-dev-probation_offender_search_event_dl_queue|dps-dev-probation_offender_search_index_dl_queue"}) by (queue_name) > 0
      for: 15m
      labels:
        severity: digital-prison-service-dev

