apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    app: offender-events-dev
    prometheus: cloud-platform
  name: dps-prometheus-rules-sqs
  namespace: offender-events-dev
spec:
  groups:
  - name: DPS-SQS-SNS-dev
    rules:
    - alert: DEV-SQS-probation-events-dlq-not-empty
      annotations:
        message: DEV SQS - {{ $labels.queue_name }} has message(s) older than 15m
        runbook_url: https://github.com/ministryofjustice/probation-offender-search-indexer#support
      expr: |-
        sum(aws_sqs_approximate_number_of_messages_visible_maximum{queue_name=~"Digital-Prison-Services-dev-probation_offender_search_event_dl_queue|dps-dev-probation_offender_search_index_dl_queue"}) by (queue_name) > 0
      for: 15m
      labels:
        severity: probation-integration-notifications
    - alert: DEV-SQS-oldest-message
      annotations:
        message: DEV SQS - {{ $labels.queue_name }} has message older than 2mins, check consumers are healthy.
        runbook_url: https://dsdmoj.atlassian.net/wiki/spaces/NOM/pages/1739325587/DPS+Runbook
      expr: |-
        sum(aws_sqs_approximate_age_of_oldest_message_maximum{queue_name!~"Digital-Prison-Services-dev-hmpps_workload.*",queue_name!~"Digital-Prison-Services-dev-hmpps_allocation.*",queue_name!~"Digital-Prison-Services-dev-hmpps_tier.*",queue_name!="Digital-Prison-Services-dev-cfo_queue",queue_name!="Digital-Prison-Services-dev-in_cell_hmpps_queue",queue_name!="Digital-Prison-Services-dev-dps_smoketest_dev_hmpps_queue",queue_name=~"Digital-Prison-Services-dev.*", queue_name!~".*_dl"} offset 1m) by (queue_name) > 2 * 60
      for: 1m
      labels:
        severity: digital-prison-service-dev


