name: Auto-approve a pull request

on:
  pull_request

jobs:
  checksum-compare:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Checkout PR code
        uses: actions/checkout@v3

      - name: Get changes and save to json
        id: get_changes
        uses: lots0logs/gh-action-get-changed-files@2.2.2
        with:
          token: "${{ secrets.GITHUB_TOKEN  }}"

      - name: Copy json so dir_hash can read contents
        run: |
          mkdir ${HOME}/work/_temp/_github_home
          cp ${HOME}/files.json ${HOME}/work/_temp/_github_home/.

      - name: Run check
        id: dir_hash
        uses: ministryofjustice/cloud-platform-directory-hash@main

      - name: Comment PR
        uses: vinodsai-a/actions-comment-pull-request@master

        if: steps.dir_hash.outputs.checksum_match == 'true'
        with:
          message: 'Auto-approve has deemed this PR worthy!'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # When we're ready to auto-approve the PR
      # - name: Approving PR
      #   uses: hmarr/auto-approve-action@v2.0.0

      #   if: steps.dir_hash.outputs.checksum_match == 'true'
      #   with:
      #     github-token: "${{ secrets.GITHUB_TOKEN  }}"
