name: Rspec Tests for bin directory

on:
  pull_request:
    branches:
      - 'main'
    paths:
      - "bin/**"
      - "lib/**"
      - "spec/**"
      - ".github/workflows/bin-rspec.yml"

  push:
    branches:
      - 'main'
    paths:
      - "bin/**"
      - "lib/**"
      - "spec/**"
      - ".github/workflows/bin-rspec.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Set up Ruby
      uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # v1.267.0
      with:
        bundler-cache: true

    - name: Run specs
      run: |
        bundle exec rspec
