on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

name: Conftest YAML files
jobs:
  format-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: digitalronin/github-actions/conftest-yaml@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
