name: conftest
on: [pull_request]

jobs:
  conftest:
    env:
      # GH repo env var string containing files / dirs to ignore which cannot be parsed by conftest
      IGNORE_LIST: ${{ vars.CONFTEST_IGNORE_LIST }}
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Setup conftest
        uses: princespaghetti/setup-conftest@v1.1.18

      - name: Run Conftest 
        run: conftest test namespaces/live.cloud-platform.service.justice.gov.uk/ --ignore $IGNORE_LIST
        continue-on-error: true