on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

name: OPA tests
jobs:
  conftest-yaml:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository code
      uses: actions/checkout@v3

    - name: Setup OPA
      uses: open-policy-agent/setup-opa@v2
      with:
        version: latest

    - name: Run OPA Tests 
      run: opa test policy/*.rego -v
