on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
    paths:
      - 'policy/**'

name: OPA tests
jobs:
  opa-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Setup OPA
      uses: open-policy-agent/setup-opa@34a30e8a924d1b03ce2cf7abe97250bbb1f332b5 # v2.2.0
      with:
        version: latest

    - name: Run OPA Tests
      run: opa test policy/*.rego -v
