name: Prometheus Operator Linter

on:
  pull_request:
    paths:
    - namespaces/live.cloud-platform.service.justice.gov.uk/*/*prometheus*.yaml
    - namespaces/live.cloud-platform.service.justice.gov.uk/*/*prometheus*.yml
    - namespaces/live-2.cloud-platform.service.justice.gov.uk/*/*prometheus*.yaml
    - namespaces/live-2.cloud-platform.service.justice.gov.uk/*/*prometheus*.yml
  workflow_dispatch:

permissions:
  pull-requests: write

jobs:
  po-lint:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Prometheus Operator Linter
        uses: prymitive/pint-action@fdd005f7f5140699d762b82b4dd861e0c8bb22dc # v1.96.0
        with:
          token: ${{ github.token }}
          requireOwner: 'true'