name: Prometheus Operator Linter

on:
  pull_request:
    paths:
    - namespaces/live.cloud-platform.service.justice.gov.uk/*/*prometheus*.yaml
    - namespaces/live.cloud-platform.service.justice.gov.uk/*/*prometheus*.yml
    - namespaces/live-2.cloud-platform.service.justice.gov.uk/*/*prometheus*.yaml
    - namespaces/live-2.cloud-platform.service.justice.gov.uk/*/*prometheus*.yml
  workflow_dispatch:

jobs:
  po-lint:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Prometheus Operator Linter
        uses: prymitive/pint-action@v1
        with:
          token: ${{ github.token }}