on:
  pull_request:
    types: [opened, edited, reopened]

jobs:
  reject-multi-namespace-prs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: ministryofjustice/github-actions/reject-multi-namespace-prs@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

