on:
  pull_request:
    paths:
      - 'namespaces/live.cloud-platform.service.justice.gov.uk/**'

jobs:
  reject-multi-namespace-prs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ministryofjustice/cloud-platform-multiple-namespace-github-action@20261dc0e118ed124aa5624e7cac3fe511635d74 # main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
