on:
  pull_request:
    paths:
      - 'namespaces/live.cloud-platform.service.justice.gov.uk/**'

jobs:
  reject-multi-namespace-prs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ministryofjustice/github-actions/reject-multi-namespace-prs@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
