name: terraform-tools

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  trivy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 ##v4.2.2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c ##v46.0.5
        with:
          dir_names: true
          dir_names_exclude_current_dir: true

      - name: List of changed files
        run: |
          mkdir -p .trivy
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            cp -r $file .trivy | true
          done
          ls .trivy -latr

      - uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 ##0.33.1
        with:
          scan-type: 'config'
          scan-ref: '.trivy'
          trivy-config: './config/trivy.yaml'

  tfsec:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 ##v4.2.2
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c ##v46.0.5
        with:
          dir_names: true
          dir_names_exclude_current_dir: true
      - name: List of changed files
        run: |
           mkdir -p .tfsec
           for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
              cp -r $file .tfsec | true
           done
           ls .tfsec -latr
      - uses: aquasecurity/tfsec-action@b466648d6e39e7c75324f25d83891162a721f2d6 ##v1.0.3
        with:
          working_directory: .tfsec
          soft_fail: true
          github_token: ${{ github.token }}
          additional_args: --force-all-dirs -m=HIGH -e=github-repositories-private,github-branch_protections-require_signed_commits,github-actions-no-plain-text-action-secrets,aws-iam-no-policy-wildcards,aws-ecr-enforce-immutable-repository,aws-rds-enable-performance-insights-encryption,aws-s3-encryption-customer-key,aws-sqs-enable-queue-encryption
  tflint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 ##v4.2.2
        with:
          fetch-depth: 0
      
      - uses: actions/cache@v4
        with:
          path: ~/.tflint.d/plugins
          key: tflint-${{ hashFiles('.tflint.hcl') }}

      - uses: terraform-linters/setup-tflint@90f302c255ef959cbfb4bd10581afecdb7ece3e6 ##v4.1.1

      - name: Get changed files
        id: changed-files
        run: |
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            CHANGED_FILES=$(git diff --name-only origin/${{ github.base_ref }}...${{ github.sha }})
          fi

          echo "Changed files: $CHANGED_FILES"

          TF_FILES=$(echo "$CHANGED_FILES" | grep '\.tf$' || true)

          if [[ -z "$TF_FILES" ]]; then
            echo "No Terraform files changed. Skipping TFLint."
            echo "::set-output name=skip_tflint::true"
            exit 0
          fi

          AFFECTED_NAMESPACES=$(echo "$TF_FILES" | grep -oE 'namespaces/.*/resources' | sort -u | uniq)

          EXISTING_NAMESPACES=""
          for ns in $AFFECTED_NAMESPACES; do
            if [ -d "$ns" ]; then
              EXISTING_NAMESPACES="$EXISTING_NAMESPACES $ns"
            fi
          done
          EXISTING_NAMESPACES=$(echo "$EXISTING_NAMESPACES" | xargs)

          if [[ -z "$EXISTING_NAMESPACES" ]]; then
            echo "No relevant namespaces changed. Skipping TFLint."
            echo "::set-output name=skip_tflint::true"
          else
            echo "Namespaces to lint: $EXISTING_NAMESPACES"
            echo "::set-output name=skip_tflint::false"
            echo "::set-output name=namespaces::$EXISTING_NAMESPACES"
          fi

      - name: Run TFLint initialization
        if: ${{ steps.changed-files.outputs.skip_tflint != 'true' }}
        run: tflint --init -c $(realpath .tflint.hcl)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Remove unnecessary directories from linting
        if: ${{ steps.changed-files.outputs.skip_tflint != 'true' }}
        run: |
          rm -rf namespace-resources-cli-template
          rm -rf cmd/

      - name: Run TFLint on changed namespaces
        if: ${{ steps.changed-files.outputs.skip_tflint != 'true' }}
        run: |
          for ns in ${{ steps.changed-files.outputs.namespaces }}; do
            echo "Running tflint on $ns..."
            tflint -c $(realpath .tflint.hcl) -f compact --recursive \
              --only=terraform_comment_syntax \
              --only=terraform_deprecated_index \
              --only=terraform_deprecated_interpolation \
              --only=terraform_documented_outputs \
              --only=terraform_empty_list_equality \
              --only=terraform_module_pinned_source \
              --only=terraform_module_version \
              --only=terraform_required_providers \
              --only=terraform_required_version \
              --only=terraform_unused_required_providers \
              --only=terraform_workspace_remote --chdir="$ns"
          done